@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Raleway&display=swap');

/* Default styling */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: Montserrat, sans-serif;
    font-weight: 500;
    color: #595E5E;
    width: 100%;
    height: 100%;
}

h1 {
    font-size: 300%;
    font-family: Raleway, sans-serif;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #00a305;
    text-align: center;
    padding: 5px;
    
}
 
h2 {
    font-family: Raleway, sans-serif;
    width: 100%;
    height: 50px;
    color: #459ce4;
    font-size: 280%;
    margin: 30px 0 30px;
    text-transform: capitalize;
}

h3 {
    font-family: Raleway, sans-serif;
    letter-spacing: 2px;
    text-transform: capitalize;
    color: #595E5E;
    font-size: 22px;
    text-align: center;
    padding: 3px 0;
}

.button {
    border: 2px solid #d4af47;
    background-color: #595E5E;
    border-radius: 10px;
    
    color: #d4af47;
    font-size: 16px;
    font-weight: 800;
    letter-spacing: 3px;
    text-decoration: none;
    text-align: center;

    margin: 2px 4px;
    padding: 2px;
}

.button:hover {
    background-color: #d4af47;
    color: white;
}

/* heading and logo */

header {
    width: 100%;
    height: 150px;
    background-color: white;
    position: fixed;
    z-index: 3;
    top: 0;
}

/* Logo */

#heading-logo {
    width: 10%;
    height: 100px;
    float: left;
    box-sizing: border-box;
}

#heading-logo .logo-style {
    height: 100px;
    width: 100%;
}

/* heading */

#heading {
    width: 90%;
    height: 100px;
    float: right;
}

/* navigation section */

#nav-area {
    height: 40px;
    width: 100%;
    clear: both;
}

#menu li {
    list-style-type: none;
    display: inline;
    position: relative;
    float: right;
    padding-right: 10px;
    padding-left: 10px;
    margin-top: 20px;
    border-right: 1px solid #595E5E;
}

#menu a {
    text-transform: uppercase;
    font-size: 20px;
    text-decoration: none;
    color: #00a305;
    letter-spacing: 1px;
}

#menu a:hover {
    background-color: #595E5E;
    color: white;
}

.active {
    border-bottom: 1px solid #595E5E;
}

/* image under header */

#main-image-area {
    height: 600px;
    width: 100%;
    position: relative;
    overflow: hidden;
    background-color: rgba(0, 0, 0, 0.6);
}

#main-image {
    height: 600px;
    width: 100%;
    margin-top: 150px;
/* zoom in style for main image */
    animation-name: main-image-zoom;
    animation-duration: 5s;
    animation-fill-mode: forwards;
}
@keyframes main-image-zoom {
    from {
        transform: scale(1);
    }
    to {
        transform: scale(1.1);
    }
}
/* image text style */
#image-text {
    height: 300px;
    width: 450px;

    background-color: rgb(255, 255, 255, 0.4);

    position: absolute;

    top: 40%;
    left: 65%;

    padding-top: 15px;
}

#image-text p {
    color: white;
    font-size: 150%;
    text-align: center;
    text-transform: capitalize;
    font-weight: 800;
    line-height: 40px;
    padding: 5px 2px;
}

/* Button and link within image */

#image-button {
    position: absolute;
    left: 28%;
    
    width: 200px;
    height: 50px;
}

#image-button:hover {
    background-color: #d4af47;
    color: white;
}

/* Reasons under image */

#reasons {
    width: 100%;
    height: 630px;
}

#reasons-heading {
    text-align: left;
    padding-left: 50px;
    color: #00a305;
}

.reasons-box {
    width: 50%;
    height: 630px;
    float: left;
    box-sizing: border-box;
}

.reasons-box ul {
    text-transform: capitalize;
    padding-left: 70px;
    font-size: 100%;
    letter-spacing: 2px;
    line-height: 60px;
}

/* Images beside reasons */

.images-box {
    width: 50%;
    height: 500px;
    float: right; 
}

.sand-dunes, .aerial-view {
    width: 100%;
    height: 50%;
    padding-right: 20px;
    padding-top: 15px;
}

/* Wild Atlantic Way section design */

#wild-box {
    width: 100%;
    height: 600px;
}

#wild-header {
    height: 100px;
    width: 100%;
    margin-top: 0;
}

#wild-header h2 {
    text-align: right;
    padding-right: 60px;
}

.wild-text-box {
    width: 50%;
    height: 500px;
    float: right;
    box-sizing: border-box;
    margin-bottom: 30px;
}

.wild-text-box .wild-text {
    line-height: 60px;
    font-size: 17px;
    text-align: center;
    padding-left: 4px;
    padding-right: 4px;
    margin-top: 20px;
    width: 100%;
}

.wild-video-box {
    width: 50%;
    height: 500px;
    float: left;
    box-sizing: border-box;
    margin-bottom: 30px;
    padding-left: 30px;
    padding-top: 20px;
}
.wild-video-box iframe {
    width: 100%;
}

/* About us and sign up section */

#about-area {
    height: 370px;
    width: 100%;
    overflow: hidden;
    margin-bottom: 30px;
}

.about-image {
    height: 370px;
    width: 100%;
}

.about-boxes {
    width: 100%;
    height: 370px;
    position: absolute;
    top: 1920px;
}

#about-area .about-boxes .about-box {
    width: 33.33%;
    height: 370px;
    float: left;
    padding: 10px 0 0 10px;
    color: white;
    box-sizing: border-box;
    border: 2px solid white;
    background: transparent;
}

#about-area .about-boxes .about-box h3 {
    font-size: 26px;
    text-align: center;
    color: white;
    padding: 5px;
}

#about-area .about-boxes .about-box p {
    font-size: 20px;
    padding-left: 5px;
    padding-right: 5px;
    text-align: center;
}

#about-area .about-boxes .about-box hr {
    margin: 5px;
}

/* Buttons styling */

#about-area #inspire-button {
    padding: 8px;
    width: 110%;
    height: 110%;

    position: relative;
    left: 35%;
    top: 8%;
}

#about-area #joinus-button {
    padding: 8px;
    width: 110%;
    height: 110%;

    position: relative;
    left: 35%;
    top: 12%;
}


/* Footer */

footer {
    height: 45px;
    width: 100%;
    background-color: rgb(56, 56, 56);
}
/*  IF FOOTER NEEDS TO BE FIXED
    position: fixed;
    bottom: 0;
    right: 0;
    z-index: 3;
 */
.footer-icons {
    text-align: center;
    height: 45px;
    width: 100%;
}

.footer-icons li {
    display: inline;
    margin-right: 250px;
    position: relative;
    left: 6%;
}

.footer-icons i {
    font-size: 250%;
    color: white;
    padding-top: 2px;
}

.footer-icons li i:hover {
    border-bottom: 2px solid white;
}

/* Course.html */

/* Layout for every course */

#course-section {
    height: 100%;
    width: 100%;
    margin-top: 150px;
}
.course-area {
    height: 700px;
    width: 100%;
    margin-top: 8%;
}
.course-heading-text {
    height: 500px;
    width: 50%;
    float: left;
}
.course-heading {
    padding-left: 15px;
    font-size: 30px;
    color: #d4af47;
    font-weight: 900;
    text-align: center;
}
.course-p {
    font-size: 16px;
    letter-spacing: 1px;
    line-height: 40px;
    padding-left: 10px;
    padding-top: 20px;
    padding-right: 5px;
    text-align: center;
}
.course-quote {
    height: 100px;
    width: 100%;
    clear: both;
}
.course-quote p {
    height: 100%;
    width: 100%;
    font-size: 100%;
    text-align: center;
    color: #595E5E;
    padding-top: 5px;
    line-height: 30px;
}

.course-image-container {
    height: 500px;
    width: 50%;
    float: right;
}

.course-image {
    width: 100%;
    height: 100%;
    padding: 20px;
    border-radius: 8%;
    margin-top: 20px;
}

/* Special layout for every second course */

.doonbeg-waterville-text {
    float: right;
}

.doonbeg-waterville-image {
    float: right;
}
#doonbeg-quote {
    margin-top: 15px;
}
#ballybunion-quote {
    height: 150px;
}

#waterville-quote {
    height: 100px;
    margin-top: 80px;
    padding: 0;
}

/* Button at the bottom of course.html */

#course-button {
    width: 100%;
    height: 40px;
    margin: 50px 0;
}

#course-button a {
    position: relative;
    left: 45%;
    top: 150%;
    padding: 10px;
}

/* Form.html structure */

#form-header {
    width: 100%;
    height: 50px;
}

#form-image {
    height: 100vh;
    width: 100%;
    margin-bottom: -45px;
}

#form-image img {
    height: 100%;
    overflow: hidden;
    width: 100%;
}

#form-box {
    max-width: 400px;
    height: 400px;

    background-color: rgba(19, 17, 17, 0.8);
    border: 1px solid white;
    border-radius: 8px;

    position: absolute;
    bottom: 20%;
    left: 35%;
}

#form-heading {
    font-size: 160%;
    color: white;
    text-align: center;
    margin-top: 0;
    padding: 15px 5px 65px 5px;
}

label {
    color: white;
    margin-left: 10%;
}

.text-input {
    background: transparent;
    color: white;
    border: 1px solid white;
    border-radius: 8px;
    height: 25px;
    margin: 5px 0 15px 38px;
    padding-left: 6px;
    display: block;
    width: 80%;
}
::placeholder {
    color: rgb(255, 255, 255, 0.6);
}
/* form buttons */
#signup-button, #cancel-button {
    height: 30px;
    width: 140px;

    background-color: transparent;

    position: absolute;
    top: 80%;
    text-align: center;
}
#signup-button{
    color: white;
    font-size: 14px;
    border: 1px solid white;
    border-radius: 8px;
    left: 40px;
}

#cancel-button {
    left: 216px;
}
#cancel-button a{
    text-decoration: none;
    color: white;
    font-size: 14px;
    position: absolute;
    left: 0;
    border: 1px solid white;
    border-radius: 8px;
    padding-top: 3px;
    width: 100%;
    height: 100%;
    border: 1px solid white;
}
#signup-button:hover, #form-box a:hover {
    background-color: white;
    color: rgba(19, 17, 17, 0.6);
}
/* form footer */
#form-footer-icons {
    padding-left: 9%;
}

/* Media Queries */

/* For screen size 1200px wide and smaller */
@media screen and (max-width: 1200px) {
    h1 {
        font-size: 250%;
    }
    #wild-header h2 {
        padding-right: 50px;
    }
    #image-text {
        left: 55%;
    }
    .reasons-box ul {
        font-size: 90%;
    }
    .aerial-view {
        margin-top: 15px;
    }
    #wild-header {
        font-size: 90%;
    }
    .wild-text-box .wild-text {
        padding-right: 10px;
        padding-left: 10px;
        line-height: 50px;
    }
}



