@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Raleway&display=swap');

/* Default styling */
* {
    padding: 0;
    margin: 0;
    border: none;
}

body {
    font-family: Montserrat, sans-serif;
    font-weight: 300;
    color: #595E5E;
    width: 100%;
}

/* heading and logo */

header {
    width: 100%;
    height: 120px;
    background-color: white;
    overflow: hidden;
}

h1 {
    font-size: 250%;
    font-family: Raleway, sans-serif;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #E9E91C;
}
 
h2 {
    font-family: Raleway, sans-serif;
    letter-spacing: 2px;
    text-transform: capitalize;
    color: #595E5E;
    font-size: 250%;
}

#heading {
    width: 100%;
    height: 80px;
    text-align: center;
    position: relative;
    top: 20%;
}

.vertical-height {
    margin: 30px;
}

/* navigation tabs */

#menu {
    letter-spacing: 1px;
    font-size: 110%;
}

#menu, #heading {
    line-height: 16px; 
}

#menu li {
    float: right;
    margin-right: 10px;
    list-style-type: none;
    position: relative;
    top: 15px;
    color: white;
    background-color: #E9E91C;
    
}

#menu a {
    text-transform: uppercase;
    font-size: 18px;
    text-decoration: none;
    color: inherit;
    
}

#menu a:hover {
    background-color: #595E5E;
}

.active {
    border-bottom: 1px solid #595E5E;
}

/* header image */

#main-image-area {
    height: 500px;
    width: 100%;
    position: relative;
    overflow: hidden;
    background-color: rgba(0, 0, 0, 0.6);
}

#main-image {
    height: 500px;
    width: 100%;
    background: url('/assets/images/Main-Image.jpg') no-repeat center center;
}

#image-text {
    height: 250px;
    width: 450px;

    background-color: rgb(255, 255, 255, 0.4);

    position: absolute;

    top: 40%;
    left: 65%;

    padding-top: 15px;
}

#image-text p {
    color: white;
    font-size: 150%;
    text-align: center;
    font-weight: 1000;
    line-height: 40px;
}

/* Button and link within image */

#image-link {
    position: inherit;

    border: 2px solid #595E5E;
    background-color: #E9E91C;

    left: 140px; 
    top: 200px;
}

#image-link a {
    text-align: center;
    text-decoration: none;
    font-size: 150%;
    color: white;
}

#image-link a:hover {
    background-color: #595E5E;
}

/* Reasons under image */

#reasons {
    width: 100%;
    height: 550px;
}

#reasons-heading {
    width: 80%;
    height: 40px;
    padding-top: 15px;
    margin-left: 10px;
}

.reasons-box {
    width: 40%;
    height: 440px;
    float: left;
    padding-left: 70px;
    padding-top: 30px;
    line-height: 50px;
}

.reasons-box li {
    font-size: 20px;
}

.images-box {
    width: 50%;
    height: 440px;
    float: right;
    padding-right: 50px;
    padding-top: 30px;
}

.list-padding{
    padding-left: 140px;
}

/* Images beside reasons */

.sand-dunes {
    width: 100%;
    height: 50%;
}

.aerial-view {
    width: 100%;
    height: 220px;
}

/* Wild Atlantic Way section design */

#wild-box {
    width: 100%;
    height: 500px;
}

#wild-header {
    color: #459ce4;
    width: 80%;
    height: 50px;
    margin-left: 10px;
    margin-bottom: 10px;
}

.wild-text-box {
    width: 50%;
    height: 450px;
    float: left;
}

.wild-video-box {
    width: 50%;
    height: 450px;
    float: right;
}

#wild-box .wild-text-box .wild-text {
    line-height: 30px;
    margin-left: 10px;
    font-size: 18px;
}