@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Raleway&display=swap');

/* Default styling */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: Montserrat, sans-serif;
    font-weight: 500;
    color: #595E5E;
    width: 100%;
}

/* heading and logo */

header {
    width: 100%;
    height: 120px;
    background-color: white;
}

#heading-logo {
    width: 10%;
    height: 100%;
    float: left;
    box-sizing: border-box;
}

#heading-logo .logo-style {
    height: 100%;
    width: 140px;
}

h1 {
    font-size: 300%;
    font-family: Raleway, sans-serif;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #E9E91C;
    padding-left: 8%;
    
}
 
h2 {
    font-family: Raleway, sans-serif;
    width: 100%;
    height: 50px;
    color: #459ce4;
    font-size: 280%;
    margin-top: 15px;
    margin-bottom: 15px;
}

h3 {
    font-family: Raleway, sans-serif;
    letter-spacing: 2px;
    text-transform: capitalize;
    color: #595E5E;
    font-size: 120%;
    padding-left: 20%;
}

#heading {
    width: 90%;
    height: 80px;
    float: right;
    box-sizing: border-box;
}

#nav-box {
    height: 40px;
    width: 90%;
    float: right;
    box-sizing: border-box;
}

/* navigation tabs */

#menu {
    letter-spacing: 1px;
    font-size: 110%;
}

#menu li {
    float: right;
    margin-right: 5px;
    list-style-type: none;
    position: relative;
    top: 15px;
    color: white;
    background-color: #E9E91C;   
    padding: 2px;
}

#menu a {
    text-transform: uppercase;
    font-size: 18px;
    text-decoration: none;
    color: inherit;
    padding: 1px;
}

#menu a:hover {
    background-color: #595E5E;
}

.active {
    border-bottom: 1px solid #595E5E;
}

/* header image */

#main-image-area {
    height: 500px;
    width: 100%;
    position: relative;
    overflow: hidden;
    background-color: rgba(0, 0, 0, 0.6);
}

#main-image {
    height: 500px;
    width: 100%;
}

#image-text {
    height: 250px;
    width: 450px;

    background-color: rgb(255, 255, 255, 0.4);

    position: absolute;

    top: 40%;
    left: 65%;

    padding-top: 15px;
}

#image-text p {
    color: white;
    font-size: 150%;
    text-align: center;
    font-weight: 1000;
    line-height: 40px;
    padding: 5px 3px;
}

/* Button and link within image */

#image-button {
    position: absolute;
    left: 30%;

    border: 4px solid #595E5E;
    background-color: #E9E91C;

    height: 40px;
    font-size: 16px;
    font-weight: 600;
}

#image-button a {
    text-decoration: none;
}

#image-button a:hover {
    background-color: #595E5E;
    color: white;
}

/* Reasons under image */

#reasons {
    width: 100%;
    height: 600px;
    margin: 15 0 15px 0;
    padding: 5px 0 15px 0;
}

#reasons-heading {
    text-align: left;
}

#reasons .reasons-box {
    width: 40%;
    height: 440px;
    float: left;
    line-height: 60px;
    margin-left: 30px;
    margin-top: 20px;
}

.reasons-box li {
    font-size: 100%;
    letter-spacing: 2px;
}

/* Images beside reasons */

.images-box {
    width: 50%;
    height: 500px;
    float: right; 
    margin-top: 20px;
    padding-right: 50px;
}

.sand-dunes {
    width: 100%;
    height: 50%;
}

.aerial-view {
    width: 100%;
    height: 220px;
}

/* Wild Atlantic Way section design */

#wild-box {
    width: 100%;
    height: 600px;
    margin-top: 15px;
}

#wild-header {
    color: #459ce4;
    position: relative;
    bottom: 5%;
}

.wild-text-box {
    width: 50%;
    height: 500px;
    float: right;
    box-sizing: border-box;
}

.wild-text-box .wild-text {
    line-height: 60px;
    font-size: 18px;
    text-align: center;
}

.wild-video-box {
    width: 50%;
    height: 500px;
    float: left;
    box-sizing: border-box;
}

/* About us and sign up section */

#about-box {
    height: 300px;
    width: 100%;
    background-image: url(/assets/images/pexels-aboutus-image.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    overflow: hidden;
}

#about-box div {
    width: 33.33%;
    height: 300px;
    float: left;
    padding: 10px 0 0 10px;
    color: white;
    background-color:rgba(0, 0, 0, 0.6);
    box-sizing: border-box;
    border: 2px solid white;
}

#about-box div h3 {
    font-size: 26px;
    text-align: center;
    color: white;
    padding: 5px;
}

#about-box div p {
    font-size: 20px;
    padding-left: 5px;
    padding-right: 5px;
    text-align: center;
}

#about-box div hr {
    margin: 5px;
}

/* Buttons styling */

#about-box .button-one {
    border: 4px solid #595E5E;
    background-color: #E9E91C;

    width: 30%;
    height: 40px;

    position: relative;
    left: 170px;
    top: 20px;
}

.button-one .inspire-button {
    text-align: center;
    text-decoration: none;
    font-size: 150%;
    color: #595E5E;
    padding: 8px 17px 8px 17px;
}

#about-box .button-two {
    border: 4px solid #595E5E;
    background-color: #E9E91C;

    width: 30%;
    height: 40px;

    position: relative;
    left: 170px;
    top: 40px;
}

.signup-button {
    text-align: center;
    text-decoration: none;
    font-size: 130%;
    color: #595E5E;
    padding: 6px 26px 7px 26px;
}

.inspire-button:hover, .signup-button:hover {
    background-color: #595E5E;
    color: white;
}

/* Footer */

footer {
    height: 100px;
    width: 100%;
    background-color: rgb(56, 56, 56);
}

#footer-wild-icon {
    color: #459ce4;
    font-size: 400%;
    margin-right: 10%;
}
.footer-icons {
    text-align: center;
    padding-top: 1%;
}

.footer-text {
    color: white;
    font-size: 20px;
    margin-right: 70px;
    margin-top: 30px;
}

.footer-icons li {
    display: inline;
    margin-right: 15%;
}

.footer-icons i {
    font-size: 250%;
    color: white;
    margin-top: 10px;
}

/* Course.html main body structure */

#course-area {
    height: 2040px;
    width: 100%;
}

#course-area .course-section {
    height: 500px;
    width: 100%;
    margin-top: 10px;
}

.text-quote-container {
    height: inherit;
    width: 50%;
    float: left;
    box-sizing: border-box;
}
.course-text {
    height: 350px;
    width: 100%;
    background-color: blue;
}

.course-quote {
    height: 150px;
    width: 100%;
    background-color: red;
}

.course-image {
    height: 500px;
    width: 50%;
    background-color: black;
    float: right;
    box-sizing: border-box;
}

.footer-icons li i:hover {
    border-bottom: 2px solid white;
}